[submodule "ArchiSteamFarm"]
	path = ArchiSteamFarm
	branch = main
	url = https://github.com/JustArchiNET/ArchiSteamFarm.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/chr233/ASFEnhance.wiki.git
[submodule "asfenhance-ui"]
	path = asfenhance-ui
	url = https://github.com/chr233/asfenhance-ui.git
